<div class="containerboxers"> 
    <div class="row">
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <div class="caption">
            <h3>Theatre</h3>
            <hr>
            <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-sports-hobbies/044449-glossy-black-icon-sports-hobbies-ball-basketball.png" alt="icon" style="width:150px;height:150px">
            <p><a href="#" class="btn btn-primary btn-lg" role="button">Select</a></p>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <div class="caption">
            <h3>Music</h3>
            <hr>
            <img src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-sports-hobbies/044449-glossy-black-icon-sports-hobbies-ball-basketball.png" alt="icon" style="width:150px;height:150px">
            <p><a href="#" class="btn btn-primary btn-lg" role="button">Select</a></p>
          </div>
      </div>
    </div>