<div id="welcome-box"><br>
<h1>Welcome to gr8date!</h1><br>
<p class="lead">Welcome to GR8DATE, a great new app for planning that special night out with that special someone. Simply choose a night for your date, a type of event, and a cuisine choice, and let the app do the rest! We’ll match you up with a great event and restaurant near you. Don’t settle for the same old date night, go with GR8DATE and enjoy an unforgettable evening out.</p><br><hr>
<h3><small class="white">Please</small> <%= link_to "Login", login_path, class: "white" %> <small class="white">or</small> <%= link_to "Sign Up", new_user_path, class: "white" %> <small class="white">to begin.</small></h3>
</div>
