/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


body{
  font-family: 'Dosis', sans-serif;
  vertical-align: center;
}

h1{
    padding-top: 65px;
    text-transform: uppercase;
    text-align: center;
}

h2{
  text-align: center;
}

h3{
    text-transform: uppercase;
    text-align: center;
}

hr{
    padding: 0px;
}

img{
    padding:0px;
}

.container{
    padding-top: 10px;
    font-size: 25px;
    text-transform: uppercase;
    background-color: none;
}

.containerboxers{
    padding-top: 75px;
    width: 80%;
    margin: 0 auto;
}

.detailrow {
  margin: 0 auto;
  margin-top: 75px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
  text-align: center;
}

.row {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #fff;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;

}

#event-section{
  text-align: center;
}
#event-list{
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  list-style-type: none;
}
#event-list li{
  width: 30%;
  display: inline-block;
}

#dinner-section{
  text-align: center;
}
#dinner-list{
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  list-style-type: none;
}
#dinner-list li{
  width: 30%;
  display: inline-block;
}

.thumbnail{
}

.btn{
    text-transform: uppercase;
    padding-bottom: 10px;
    width: 90%;
}

.form-group{
  width: 30%;
  margin: 0 auto;
  margin-bottom: 15px;
}


img{
    padding:0px;
    }

.signupbox{
  margin: 0 auto;
}


.col-md-6{
  text-align: center;
  margin-top: 50px;
  width: 50%; 
  top:50%; 
}

.col-md-6 img {
    width: 100%;
    height: auto;
    padding: 2px;
}

.big_blue_button{
  width: 45%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.vertical-line{
  width: 1px;
  color: black;
  height: 80%;
  float: right;
}

#deets{
  margin-top: 100px;
}

#logintext{
    padding-top: 10px;
    font-size: 40px;
    text-transform: uppercase;
}

#detailsbox{
  margin: 0 auto;
}

#rule{
  border-right: 1pt solid #ddd;
}

