<h1>This is the edit of plans and I'm terrified</h1>

<!-- # show plan date and location
# make section with id to reference in jQ script for events (based on plan.event_type)
# make section with id to reference in jQ script for events (based on plan.dinner_type) -->

<section id="event-section">
  <ul id="event-list"></ul>
</section>