<h1></h1> <!-- # this is here for spacing only - page needs styling  -->
<section>
  <h3><%= @plan.date %> | <%= @plan.location %></h3>
</section>

<section id="event-section">
  <h3>Pick your <%= @plan.category %> event:</h3>
  <ul id="event-list"></ul>
</section>

<section id="dinner-section">
  <h3>Pick your <%#= @plan.cuisine %> restaurant:</h3>
  <ul id="dinner-list"></ul>
</section>

<div class="form-group">
  <%= link_to "Done", plan_path(@plan), class: "btn btn-primary" %>
</div>